# Node modules
node_modules

# CDK outputs
cdk.out/
*.template.json
cdk.context.json

# Environment files
.env
.envrc
.vscode

#python-app
*.pyc
*.swp
uv.lock
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out 